<div class="container">

  <div class="row justify-content-start">
    <div class="col-4">
      <form class="signup-form">
        <h2>Signup!</h2>
        <div class="mb-3">
          <label for="username-signup" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username-signup" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="email-signup" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email-signup">
        </div>
        <div class="mb-3">
          <label for="password-signup" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password-signup">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-4">
      <form class="login-form">
        <h2>Login</h2>
        <div class="mb-3">
          <label for="email-login" class="form-label">Email address</label>
          <input type="text" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>

</div>

<script src="/javascript/login.js"></script>